<div class="row well">
          <h2><%= cluster.name %></h2>
           <div class="col-lg-4 specs">
               <h3>Master <small>x<%= cluster.master_num %></small></h3>
               <% master_image = Image.find(cluster.master_image) %>
               <p><strong><%= master_image.name %></strong></p>

               <% master_flavor = Flavor.find(cluster.master_flavor) %>
               <p><strong><%= master_flavor.vcpus %></strong> VCPUs</p>
               <p><strong><%= master_flavor.ram   %>GB</strong> RAM</p>
               <p><strong><%= master_flavor.disk  %>GB</strong> HDD</p>
           </div>
           <div class="col-lg-4 specs">
               <h3>Slave <small>x<%= cluster.slave_num %></small></h3>
               <% slave_image = Image.find(cluster.slave_image) %>
               <p><strong><%= slave_image.name %></strong></p>

               <% slave_flavor = Flavor.find(cluster.slave_flavor) %>
               <p><strong><%= slave_flavor.vcpus %></strong> VCPUs</p>
               <p><strong><%= slave_flavor.ram   %>GB</strong> RAM</p>
               <p><strong><%= slave_flavor.disk  %>GB</strong> HDD</p>
           </div>
           <div class="col-lg-4">
               <h3>Assigned to: </h3>
               <ul class="scrollable-list list-unstyled">
                  <% if cluster.group %>
                      <li>
                        <p><%= cluster.group.name %></p>
                      </li>
                  <% else %>
                    <li><p>Not assigned</p></li>
                  <% end %>
               </ul>
           </div>
    </div>
