<div class="panel panel-custom">
  <div class="panel-heading">
      <div class="row">
        <div class="col-xs-4">
          <h2><%= cluster.name %></h2>
          <% if cluster.group %>
            <p>
              Assigned to group: <strong><%= cluster.group.name %></strong>
              <% if current_user.group_permissions? %>
                <%= link_to associate_cluster_path(group_id: cluster.group.id, cluster_id: cluster.id), method: :delete, remote: true, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-xs"  do %>
                        <i class="fa fa-times" aria-hidden="true"></i>
                <% end %>
              <% end %>
            </p>
            <% else %>
              <p> Not assigned </p>
                <% if current_user.group_permissions? && @groups.any? %>
                  <%= form_for :assignment, url: associate_cluster_path, remote: true do |f| %>
                    <%= f.hidden_field :cluster_id, :value => cluster.id %>
                    <div class="input-group">
                      <%= f.select(:group_id, options_for_select(@groups.map { |group| [group.name, group.id] }), {}, {class: 'form-control'}) %>
                      <span class="input-group-btn">
                        <%= f.submit "Assign", class: "btn btn-success" %>
                      </span>
                    </div>
                  <% end %>
                <% end %>
            <% end %>
        </div>
        <div class="col-xs-8 text-right">
          <div id="circle-<%= cluster.uuid %>" class="circle-<%= get_status(cluster.state) %> pull-right"></div>
            <br>
          <h4 id = "<%= cluster.uuid %>">
            <%= cluster.state %>
          </h4>
        </div>
      </div>
  </div>
  <div id="body-<%= cluster.uuid %>" class="panel-collapse collapse" aria-expanded="false">
    <div class="panel-body">
      <div class="row">
           <div class="col-md-4 col-xs-12 specs">
               <h3 class="text-primary"><strong>Master <small>x<%= cluster.master_num %></small></strong></h3>
               <% master_image = Image.find(cluster.master_image) %>
               <p class="text-info"><strong><%= cluster.master_image.name %></strong></p>

               <% master_flavor = Flavor.find(cluster.master_flavor) %>
               <p class="text-info"><strong><%= cluster.master_flavor.vcpus %></strong> VCPUs</p>
               <p class="text-info"><strong><%= cluster.master_flavor.ram   %>GB</strong> RAM</p>
               <p class="text-info"><strong><%= cluster.master_flavor.disk  %>GB</strong> HDD</p>
           </div>
           <div class="col-md-4 col-xs-12 specs">
              <h3 class="text-primary">
                <strong>Slave
                  <small>
                    x<%= cluster.slave_num %>
                    <% if cluster.slave_on_master %>
                      + slave on master
                    <% end %>
                  </small>
                </strong>
              </h3>
               <% slave_image = Image.find(cluster.slave_image) %>
               <p class="text-info"><strong><%= cluster.slave_image.name %></strong></p>

               <% slave_flavor = Flavor.find(cluster.slave_flavor) %>
               <p class="text-info"><strong><%= cluster.slave_flavor.vcpus %></strong> VCPUs</p>
               <p class="text-info"><strong><%= cluster.slave_flavor.ram   %>GB</strong> RAM</p>
               <p class="text-info"><strong><%= cluster.slave_flavor.disk  %>GB</strong> HDD</p>
           </div>
           <div class="col-md-4 col-xs-12">
                <h3 class="text-primary"><strong>Frameworks: </strong></h3>
                <ul class="list-unstyled" id="framework-list">
                  <% cluster.cluster_frameworks.all.each do |f| %>
                    <% framework = Framework.find(f.framework_id) %>
                    <% link = 'http://'+cluster.external_ip.to_s+framework.port %>
                    <li><h4>
                      <div class="circle-<%= check_link(link) %> circle-sm pull-left"></div>
                      <%= link_to framework.name.capitalize, link, target: "blank" %>
                      <button type="button" class="btn btn-link btn-xs" data-toggle="tooltip" data-placement="top" title="<%= framework.description %>"><i class="fa fa-question-circle-o fa-fw"></i></button>
                    </h4></li>
                  <% end %>
                </ul>
           </div>
        </div>
        <br>
        <div class="row">
          <% if current_user.infrastructures.any? && current_user.infrastructures.exists?(id: cluster.infrastructure_id) %>
            <div class="col-md-8"></div>
            <div class="col-md-4">
              <%= form_for :delete, method: "delete", url: clusters_path, html: { id: "delete-form"} do |f| %>
                <%= f.hidden_field :uuid, :value => cluster.uuid %>
                <p class="text-info">Please, enter infrastructure password to delete</p>
                <div class="input-group">
                  <%= f.password_field(:password, placeholder: "Password", class: 'form-control') %>
                  <span class="input-group-btn">
                    <%= f.button(type: 'submit', class: "btn btn-danger") do %>
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    <% end %>
                  </span>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a href="#body-<%= cluster.uuid %>" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" class="collapsed">
          <span class="pull-left">View details</span>
          <span class="pull-right">
            <i class="fa fa-arrow-circle-right"></i>
          </span>
          <span class="clearfix"></span>
      </a>
    </div>
</div>
