 <div class="col-lg-4">
    <%= link_to details_path(uuid: cluster[:uuid]), remote: true, data: { toggle: "modal", target: ".cluster-modal"} do %>
        <div class="panel panel-info" id="<%= cluster[:uuid] %>">
            <div class="panel-heading">
                <%= cluster[:name] %>
            </div>
            <div class="panel-body text-left">
                <dl class="dl-horizontal">
                  <% m_image  = @images.find_by(img_id: cluster[:master_image])  %>
                  <% s_image  = @images.find_by(img_id: cluster[:slave_image])   %>
                  <% m_flavor = @flavors.find_by(fl_id: cluster[:master_flavor]) %>
                  <% s_flavor = @flavors.find_by(fl_id: cluster[:slave_flavor])  %>
                      <dt>Master Image</dt>
                      <dd><%= m_image.name %></dd>
                      <dt>Master VCPUs</dt>
                      <dd><%= m_flavor.vcpus %></dd>
                      <dt>Master RAM</dt>
                      <dd><%= m_flavor.ram %>MB</dd>
                      <dt>Master Disk</dt>
                      <dd><%= m_flavor.disk %>GB</dd>
                      <dt>Slave Image</dt>
                      <dd><%= s_image.name %></dd>
                      <dt>Slave VCPUs</dt>
                      <dd><%= s_flavor.vcpus %></dd>
                      <dt>Slave RAM</dt>
                      <dd><%= s_flavor.ram %>MB</dd>
                      <dt>Slave Disk</dt>
                      <dd><%= s_flavor.disk %>GB</dd>
                      <dt>Status</dt>
                      <dd id = "cluster-<%= cluster[:uuid] %>" class="text-<%= get_status(cluster[:state]) %>"><strong><%= cluster[:state] ? cluster[:state] : "Deploying..." %></strong></dd>
                </dl>
            </div>
        </div>
    <% end %>
</div>
