<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="modal-title"></h4>
</div>
<div class="modal-body"  id="modal-body">
  <dl class="dl-horizontal">
      <dt>UUID:</dt>
      <dd><%= @cluster.uuid %></dd>
      <dt># Master(s):</dt>
      <dd><%= @cluster.master_num %></dd>
      <dt># Slave(s):</dt>
      <dd><%= @cluster.slave_num %></dd>
      <dt>Frameworks:</dt>
      <dd>
          <ul class="list-unstyled" id="framework-list">
            <% @frameworks.each do |f| %>
              <% framework = Framework.find(f.framework_id) %>
              <% link = 'http://'+@ip+framework.port %>
              <li><%= link_to framework.name.capitalize, link, class: check_link(link), target: "blank" %></li>
            <% end %>
          </ul>
      </dd>
    <% if @owner %>
      <dt>Assigned to:<dt>
      <dd>
          <ul class="list-unstyled" id="assignment-list">
            <% @users.each do |user| %>
              <% if user.id != current_user.id  %>
                <li>
                  <%= user.email %>
                  <%= link_to delete_assignment_path(cluster_id: @cluster.id, user_id: user.id), data: { confirm: "Are you sure?" } do %>
                    <i class="fa fa-times" aria-hidden="true"></i>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
      </dd>
    <% end %>
  </dl>
  <label>Logs</label>
  <pre>
    <%= @cluster.state %>
  </pre>
</div>
<div class="modal-footer" id="delete-cluster">
  <% if @owner %>
    <%= form_for :delete, url: delete_path, html: {role: "role", id: "delete-form"} do |f| %>
      <%= f.hidden_field :uuid, :value => @cluster[:uuid] %>
      <div class="form-group">
        <%= f.password_field(:password, placeholder: "Enter infrastructure password to delete", class: 'form-control') %>
      </div>
      <%= f.submit "Delete", class: "btn btn-danger" %>
    <% end %>
  <% end %>
</div>
