<% if @infrastructure_id.to_i > 0 %>
    <%= form_for :cluster, method: "post", url: clusters_path, html: {role: "role", id: "cluster-form"} do |f| %>
        <%= f.hidden_field :infrastructure_id, :value => @infrastructure_id %>
        <%= f.label(:cluster_name, "Cluster Name") %>
        <div class="form-group">
            <%= f.text_field(:name, placeholder: "Enter name", class: 'form-control') %>
        </div>
        <%= f.label(:master, "Master") %>
        <div class="form-group input-group">
            <span class="input-group-addon">#</span>
            <%= f.select(:master_num, options_for_select((1..10).map { |i| [i, i] }), {}, {class: 'form-control'}) %>
            <span class="input-group-addon">Image</span>
            <%= f.select(:master_image, options_for_select(@images.map { |image| [image[:name], image.id] }), {}, {class: 'form-control'}) %>
            <span class="input-group-addon">Flavor</span>
            <%= f.select(:master_flavor, options_for_select(@flavors.map { |flavor| [flavor[:name], flavor.id] }), {}, {class: 'form-control'}) %>
        </div>
        <%= f.label(:slave, "Slave") %>
        <div class="form-group input-group">
            <span class="input-group-addon">#</span>
            <%= f.select(:slave_num, options_for_select((1..10).map { |i| [i, i] }), {}, {class: 'form-control'}) %>
            <span class="input-group-addon">Image</span>
            <%= f.select(:slave_image, options_for_select(@images.map { |image| [image[:name], image.id] }), {}, {class: 'form-control'}) %>
            <span class="input-group-addon">Flavor</span>
            <%= f.select(:slave_flavor, options_for_select(@flavors.map { |flavor| [flavor[:name], flavor.id] }), {}, {class: 'form-control'}) %>
        </div>
        <h5>
            Slave node on Master node?
            <%= f.check_box(:slave_on_master, checked: false) %>
        </h5>

        <%= f.label(:access, "Access") %>
        <div class="form-group input-group">
            <span class="input-group-addon">Key</span>
            <%= f.select(:keypair, options_for_select(@keypairs.map { |key| [key[:name], key[:name]] }), {}, {class: 'form-control'}) %>
        </div>
        <%= f.label(:frameworks, "BIG Data frameworks") %>
        <div class="form-group">
            <% @frameworks.each do |framework| %>
                <% if !framework[:name].eql? 'HDFS' %>
                    <div class="checkbox">
                        <label><%= f.check_box(framework[:name]) %><%= framework[:name] %></label>
                        <button type="button" class="btn btn-link btn-xs" data-toggle="tooltip" data-placement="top" title="<%= framework.description %>"><i class="fa fa-question-circle-o fa-fw"></i></button>
                    </div>
                <% end %>
            <% end %>
        </div>

        <%= f.label(:password, "Infrastructure password") %>
        <div class="form-group">
            <div class="input-group">
              <%= f.password_field(:password, placeholder: "Password", class: 'form-control') %>
              <span class="input-group-btn">
                <%= f.submit "Create", class: "btn btn-success" %>
              </span>
            </div>
        </div>


    <% end %>
<% end %>
