<% provide(:title, "Settings") %>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Retrieve password</h3>
                </div>
                <div class="panel-body">

                  <%= form_tag("/savepassword", method: "post") do %>
                      <%= hidden_field_tag(:email,@email) %><br />
                      <%= hidden_field_tag(:generatedcode,@generatedcode) %><br />
                      <%= label_tag(:newpassword, "Please enter your new password:") %><br />
                      <%= password_field_tag(:newpassword) %><br />
                      <%= label_tag(:repnewpassword, "Please repeat your new password:") %><br />
                      <%= password_field_tag(:repnewpassword) %><br />
                      <%= submit_tag("Save password", class: "btn btn-primary" ) %>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
