<div id="container">
  <!-- Page Content -->
  <div id="wrapper">
      <div class="container-fluid">

          <%= render 'pages/clusters' %>

          <%= render 'pages/infrastructures' %>

      </div>
      <!-- /.container-fluid -->
  </div>

  <!-- Modals -->
  <%= render 'clusters/show' %>

  <%= render 'clusters/new' %>

  <%= render 'infrastructures/new' %>

</div>
<!-- /#wrapper -->
